#main{
  font-size: 15px;
  border: 5px outset blue;
  animation-direction: alternate;
}

#main2{
  font-size: 30px
  border: 2px outset green:
}
#body{
  background-color: light blue;

 }
